<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>So Coded 2015</title>

  <meta name="description" content="A superb conference for web developers in Hamburg, Germany">
  <meta property="og:title" content="A superb conference for web developers in Hamburg, Germany" />
  <meta property="og:site_name" content="So Coded 2015"/>
  <meta property="og:url" content="http://2015.socoded.com" />
  <meta property="og:image" content="http://2015.socoded.com<%= image_path 'teaser.jpg' %>" />
  <meta property="og:description" content="The Wizards Of The Web Are Gathering Again! The Order is calling you to Hamburg on July 23rd and 24th."/>

  <meta name="twitter:card" content="player" />
  <meta name="twitter:site" content="@socodedconf" />
  <meta name="twitter:player" content="http://2015.socoded.com/twitter-player.html" />
  <meta name="twitter:player:stream" content="http://2015.socoded.com/multimedia/part_1.mp4" />
  <meta name="twitter:player:height" content="1080" />
  <meta name="twitter:player:width" content="1920" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag "vendor", "app" %>
  <%= javascript_include_tag  "all" %>

  <!-- Include the HTML5 shiv and shiv print polyfills for Internet Explorer browsers 8 and below -->
  <!--[if lt IE 9]><script src="js/html5shiv-printshiv.js" media="all"></script><![endif]-->

  <%= yield_content :header %>
</head>

<body class="<%= current_page.data.body_class %>">
  <%= yield %>

  <footer>
    <div class="outer">
      <div class="inner">
        <%= link_to 'Home', '/' %>
        <%= link_to 'Imprint', '/imprint.html' %>
        <%= link_to 'Code Of Conduct', '/code-of-conduct.html' %>
        <%= link_to 'Recording Policy', '/recording-policy.html' %>
        <%= link_to 'Twitter', 'https://twitter.com/socodedconf', target: '_blank' %>
        <%= link_to 'Contact Us', 'mailto:we@socoded.com' %>
        <%= link_to 'So Coded 2013', 'http://2013.socoded.com' %>
      </div>
    </div>
  </footer>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39021317-2', 'auto');
  ga('send', 'pageview');

  </script>
</body>

</html>
