<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>So Coded 2015</title>

  <meta name="description" content="A superb conference for web developers in Hamburg, Germany">
  <meta property="og:title" content="A superb conference for web developers in Hamburg, Germany" />
  <meta property="og:site_name" content="So Coded 2015"/>
  <meta property="og:url" content="http://socoded.com" />
  <meta property="og:description" content="The Wizards Of The Web Are Gathering Again! The Order is calling you to Hamburg on July 23rd and 24th.<br/>Your ticket includes excellent food, drinks and an awful lot of web socery!"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag "vendor", "app" %>
  <%= javascript_include_tag  "all" %>

  <!-- Include the HTML5 shiv and shiv print polyfills for Internet Explorer browsers 8 and below -->
  <!--[if lt IE 9]><script src="js/html5shiv-printshiv.js" media="all"></script><![endif]-->

  <%= yield_content :header %>
</head>

<body class="<%= current_page.data.body_class %>">
  <%= yield %>

  <footer>
    <div class="outer">
      <div class="inner">
        <%= link_to 'Home', '/' %>
        <%= link_to 'Imprint', '/imprint.html' %>
        <%= link_to 'Code Of Conduct', '/code-of-conduct.html' %>
        <%= link_to 'Twitter', 'https://twitter.com/socodedconf', target: '_blank' %>
        <%= link_to 'Contact Us', 'mailto:we@socoded.com' %>
        <%= link_to 'So Coded 2013', 'http://2013.socoded.com' %>
      </div>
    </div>
  </footer>
</body>

</html>
