<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>So Coded 2015</title>

  <meta name="description" content="A superb conference for web developers in Hamburg, Germany">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag "vendor", "app" %>
  <%= javascript_include_tag  "all" %>

  <!-- Include the HTML5 shiv and shiv print polyfills for Internet Explorer browsers 8 and below -->
  <!--[if lt IE 9]><script src="js/html5shiv-printshiv.js" media="all"></script><![endif]-->

  <%= yield_content :header %>
</head>

<body class="<%= current_page.data.body_class %>">
  <%= yield %>

  <footer>
    <div class="outer">
      <div class="inner">
        <a href="/">Home</a>
        <a href="/imprint">Imprint</a>
        <a href="/code-of-conduct">Code Of Conduct</a>
        <a href="https://twitter.com/socodedconf" target="_blank">Twitter</a>
        <a href="mailto:we@socoded.com">Contact Us</a>
        <a href="http://2013.socoded.com">So Coded 2013</a>
      </div>
    </div>
  </footer>
</body>

</html>
